extends _layout

block content
  h1.title สมัครสมาชิก
  hr
  form(action="/register", method="post")
    .field
      .control
        label.label ที่อยู่อีเมล
        input.input(type="email" name="email" required)
    .field
      .control
        label.label รหัสผ่าน
        input.input(type="password" name="password" required)
    hr
    .field
      button.button.is-link ส่งข้อมูล
    